/* Button */

button {
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  gap: 1rem;
  justify-content: center;
  padding: 0.6em 1.2em;
  transition: .5s all;

  &:focus,
  &:focus-visible {
    outline: 4px auto var(--body-color);
  }

  &.full-width {
    width: 100%;
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }

  &.primary-btn {
    background-color: var(--primary-color);

    &:hover {
      border-color: var(--primary-color);
      opacity: .8;
    }
  }

  &.secondary-btn {
    background-color: white;
    border: 1px solid var(--border-color);
    color: var(--body-color);


    &:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }

  &.add-btn {
    background-color: var(--body-color);
    border: 1px solid var(--body-color);
    margin-top: 1rem;
    transition: .5s all;

    &:hover {
      background-color: white;
      color: var(--body-color);
    }

    &:focus, &:focus-visible {
      background-color: white;
      color: var(--body-color);
    }
  }

  &.delete-btn {
    background-color: white;
    border: 1px solid var(--error-color);
    color: var(--error-color);

    &:hover {
      background-color: var(--error-color);
      color: white;
    }
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 4rem 0 0;

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-end {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 600px) {
  .btn-container {
    flex-direction: row;
  }

  button {
    &.margin-left-auto {
      margin-left: auto;
    }
  
    &.margin-right-auto {
      margin-right: auto;
    }
  }
}