.remove-button {
    align-items: center;
    background-color: transparent;
    border: 2px solid var(--error-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 2rem;
    padding: 0;
    position: relative;
    transition: .5s all;
    width: 2rem;

    span {
        background-color: transparent;
        height: 1rem;
        padding: 0;
        transition: .5s all;
        width: 1rem;

        &:before,
        &:after {
            background-color: var(--error-color);
            content: ' ';
            height: 1rem;
            left: .8rem;
            position: absolute;
            transition: .5s all;
            width: 2px;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    /* Hover state */
    &:hover {
        background-color: var(--error-color);

        span {
            &:before,
            &:after {
                background-color: white;
            }
        }
    }
}