/* Button */

button {
    align-items: center;
    color: white;
    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: .25s all;
  
    &.full-width {
      width: 100%;
    }
  
    &[disabled] {
      opacity: 0.6;
      pointer-events: none;
    }

    &.primary-btn {
        background-color: var(--primary-color);
      
        &:hover {
          border-color: var(--primary-color);
          opacity: .8;
        }
      }
      
      &.secondary-btn {
        background-color: white;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        
      
        &:hover {
          border-color: #079992;
          color: #079992;
        }
      }

      &.add-btn {
        color: var(--body-color);
      }

      &.delete-btn {
        background-color: var(--error-color);
        border: 1px solid var(--error-color);

        &:hover {
            background-color: white;
            color: var(--error-color);
          }
      }

      &.margin-left-auto {
        margin-left: auto;
      }
  }
  
  .btn-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;

    &.flex-start {
        justify-content: flex-start;
    }
  }