.toaster {
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    box-shadow: .15rem .15rem .5rem 0 rgba(0,0,0,0.25);
    padding: .5rem 1rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
}