/* Checkbox */
.container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: block;
    position: relative;
    padding: .5rem .5rem .5rem 3rem;
    cursor: pointer;
    flex: 1 1 auto;
    text-align: left;
    transition: .5s all;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &.completed {
        border-color: var(--primary-color);
    }

    p.completed {
        color: var(--primary-color);
        font-size: .9rem;
        margin: 0;
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    /* Info on hover */
    .info {
        font-size: .9rem;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s all;
        visibility: hidden;

        &.remove {
            background: none;
            border: 1px solid transparent;
            color: var(--error-color);

            &:hover {
                border-color: var(--error-color);
            }
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    /* Create a custom checkbox */
    .checkmark {
        border: 1px solid var(--body-color);
        border-radius: .4rem;
        height: 1.5rem;
        left: .5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        transition: .5s all;
        width: 1.5rem;

        &:after {
            left: .5rem;
            top: .25rem;
            width: .5rem;
            height: .75rem;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    
    /* Hover state */
    &:hover {
        border-color: var(--border-color);

        .info {
            opacity: 1;
            visibility: visible;
        }

        input~.checkmark {
            border-color: var(--primary-color);
        }
    }

    /* Checked status */
    input:checked~.checkmark {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    input:checked~.checkmark:after {
        display: block;
    }

    /* Focus status */
    input:focus~.checkmark, input:focus-visible~.checkmark { 
        outline-offset: 2px;
        outline:  -webkit-focus-ring-color auto 1px;
    }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}