:root {
  --primary-color: #38ada9;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.input {
  border: 1px solid #ccc;
  border-radius: .5rem;
  display: block;
  font-size: 1rem;
  padding: .75rem;
  width: 100%;

  &:focus,
  &:focus-visible {
    
    outline: 2px solid #333;
  }
}

/* Buttons */
button {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;

  &.full-width {
    width: 100%;
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
  }
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  transition: .25s all;

  &:hover {
    border-color: var(--primary-color);
    opacity: .8;
  }
}

.secondary-btn {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: .25s all;

  &:hover {
    border-color: #079992;
    color: #079992;
  }
}

/* Add new item */

.new-item-container {
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
}