*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #38ada9;
  --body-color: #213547;
  --error-color: #eb2f06;
  --border-color: #ccc;
  --light-grey-color: #6a6a6a;
  --light-grey-background: #f4f4f4;
}

body {
  color: var(--body-color);
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
}

/* Text - general style */ 

.description {
  color: var(--light-grey-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.2em;
  }
}