.bucket-list {

    header {
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 2rem;
    }

    .empty-list {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
        margin: 2rem 0 0;
        padding: 1rem;

        .empty-icon {
            width: 4rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            border: 1px solid transparent;
            border-radius: .5rem;
            margin-bottom: .5rem;
            padding: .5rem 1rem;

            &:last-child {
                margin-bottom: 1rem;
            }

            &:hover {
                border-color: var(--border-color);
            }

            &.completed {
                border-color: var(--primary-color);
            }
        }
    }
}