.bucket-list {

    header {
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 2rem;
    }

    .empty-list {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
        margin: 2rem 0 0;
        padding: 1rem;

        .empty-icon {
            width: 4rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            align-items: center;
            border: 1px solid transparent;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: space-between;
            margin-bottom: .5rem;
            padding: 0;

            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }
}

/* Responsive */
@media only screen and (min-width: 600px) {
    .bucket-list {
        ul {
            li {
                flex-direction: row;
                padding: .5rem;
            }
        }
    }
}