.bucket-list {
    .empty-list {
        padding: 1rem;

        .empty-icon {
            width: 5rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            border-bottom: 1px solid #ccc;
            padding: 1rem;

            &:last-child {
                margin-bottom: 1rem;
            }
        }
    }
}